version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    # 役割で2つに分ける
    groups:
      production-dependencies:
        dependency-type: "production" # package.jsonの dependencies
      development-dependencies:
        dependency-type: "development" # package.jsonの devDependencies
        
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions:
        patterns:
          - "*"